node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

#FRONT
# Контрактные адреса (генерируются при деплое)
front/src/contracts/addresses.json
front/src/contracts/addresses.*.json

# Но исключаем template из игнора
!front/src/contracts/addresses.template.json

# Дополнительно
front/src/contracts/abis/*.dbg.json
backend/contracts-data/*.json

# логи
scripts/logs
deploy-log.txt
# черновики, заметки и временные файлы
data.txt
/contracts/examples
commands.txt
front/src/experimentals